In [ ]:
#1 Write a Python program to print "Hello, World!y

print("Hello world")

Hello world

In [ ]:
#2Write a Python program that displays your name and age?
Name ="Seeram Geethika"
Age ="22"
print("my name is",Name)
print("my age is",Age)

my name is Seeram Geethika
my age is 22

In [ ]:
#3 Write code to print all the pre-defined keywords in Python using the keyword library?
import keyword
print("python keywords")
print(keyword.kwlist)

python keywords
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#4 Write a program that checks if a given word is a Python keyword?
import keyword
word = input("enter keyword:")
if word in keyword.kwlist:
  print("It is a python keyword")
else:
  print("It is not a python keyword")

enter keyword:if
It is a python keyword

In [ ]:
#5 Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each
my_list = [1,2,3,4] #here the list is created
print("my_list",my_list)

my_list [1, 2, 3, 4]

In [ ]:
my_list[3]=500 #here the index no 3 that means number 4 will get changed into 500
print("my_list",my_list)

my_list [1, 2, 3, 500]

In [ ]:
my_tuple =(1,2,3)
my_tuple[2] = 5
print("my_tuple", my_tuple) #here objects is not changed because tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
#6  Write a function to demonstrate the behavior of mutable and immutable arguments
def input(a, b):
    a = a + 1         # Tries to change number (immutable)
    b.append(4)       # Changes list (mutable)
    print("after function:")
    print("a =", a)
    print("b =", b)
x = 5
y = [1, 2, 3]
input(x, y)

print("before function")
print("x =",x)
print("y =",y)

after function:
a = 6
b = [1, 2, 3, 4]
before function
x = 5
y = [1, 2, 3, 4]

In [7]:
#7 Write a program that performs basic arithmetic operations on two user-input numbers.

a=int(input("enter a numbere"))
b=int(input("enter a number"))
print("addition",a+b)
print("subtraction",a-b)
print("multiplication",a*b)
print("division",a/b)

enter a numbere23
enter a number6
addition 29
subtraction 17
multiplication 138
division 3.8333333333333335

In [ ]:
#8 Write a program to demonstrate the use of logical operators
# Logical Operators Demo

a = True
b = False
print("a =", a)
print("b =", b)
print("a and b =", a and b)  # False (both must be True)
print("a or b =", a or b)      # True (at least one is True)
print("not a =", not a)        # False (opposite of True)

a = True
b = False
a and b = False
a or b = True
not a = False

In [6]:
#9 Write a Python program to convert user input from string to integer, float, and boolean types.
#taking a user string
user_input = input("enter a string")
#converting the string
int_value = int(user_input)
float_value = float(user_input)
bool_value = bool(user_input)
#printing the values
print("int_value",int_value)
print("float_value",float_value)
print("bool_value",bool_value)

enter a string678
int_value 678
float_value 678.0
bool_value True

In [ ]:
#10 Write code to demonstrate type casting with list elements
str_list = ["10","20","30","40"] #user string list
int_list = []
for i in str_list:
  int_list.append(int(i)) #it converts the string list into int
print(int_list)
float_list = []
for i in str_list:
  float_list.append(float(i)) # it converts the string list into float
print(float_list)
bool_list = []
for i in str_list:
  bool_list.append(bool(i))  #here the string list will be convert into boolean
print(bool_list)

[10, 20, 30, 40]
[10.0, 20.0, 30.0, 40.0]
[True, True, True, True]

In [4]:
#11 Write a program that checks if a number is positive, negative, or zero.

a=int(input("enter a number"))
if a>0:
  print("number is positive")
elif a<0:
  print("number is negative")
else:
  print("number is zero")

enter a number-567
number is negative

In [ ]:
#12 Write a for loop to print numbers from 1 to 10.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#13 Write a Python program to find the sum of all even numbers between 1 and 50
total = 0
for i in range(0, 50):
    if i % 2 == 0:
        total += i
print("Sum of even numbers from 1 to 50 is:", total)

Sum of even numbers from 1 to 50 is: 600

In [2]:
#14. Write a program to reverse a string using a while loop.

text= input("enter a string")
reverse_text = ""
length = len(text)
while length > 0:
  reverse_text += text[length - 1]
  length = length - 1
print(reverse_text)

enter a stringdelhi
ihled

In [1]:
#15. Write a Python program to calculate the factorial of a number provided by the user using a while loop.
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print("The factorial of", num, "is", factorial)

Enter a number: 35
The factorial of 35 is 10333147966386144929666651337523200000000